<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>

<IfModule mod_autoindex.c>
IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=*
IndexOptions SuppressHTMLPreamble SuppressRules SuppressColumnSorting SuppressIcon
#IndexOptions HTMLTable
IndexIgnore ..
HeaderName /html/dir_header.html
ReadmeName /html/dir_footer.html
</IfModule>
