.visualizer{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	font-family: sans-serif;
}
.visualizer #rot_btn,.visualizer aside,.visualizer #img{
	transition: all 0.25s ease 0s;
}

/* ASIDE */
.visualizer aside,.visualizer .imagecontainer{
	color:#FFF;
	text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}
.visualizer aside{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 200px;
	left: -180px;
	display: block;

	direction:ltr;
	background: rgba(0,0,0,0.5);
	overflow: auto;
	padding: 4px;
	border-right: 2px dashed #FFF;
	
	font-size: 12px;
}
.visualizer aside:hover,#aside.hover{
	left:0;
}

.visualizer aside h3 {text-align:center;}

.visualizer aside info {display:block;overflow: hidden;text-overflow: ellipsis;}
.visualizer aside name {display:inline;white-space: nowrap;text-decoration:underline;margin-right: .5em;}
.visualizer aside value{display:inline;white-space: nowrap;}

.visualizer aside #list{
	overflow-x: hidden;
	overflow-y: auto;
	top: 195px;
	left: 0;
	width: 100%;
	bottom: 50px;
	position: absolute;
}
.visualizer aside #list,
.visualizer aside #list ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align: center;
}
.visualizer aside #list .group {
	box-shadow: 0px 0px 3px #000;
	margin: 15px;
	border-radius: 5px;
	background: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.25)
}
	
.visualizer aside #list a{
	color:#FFF;
	text-decoration:none;
}
.visualizer aside #list a:hover{
	text-decoration: underline;
}
.visualizer aside #list .title{
	display:block;
}
.visualizer aside #list a.title{
	position: relative;
	top: 1em;
	background: rgba(0,0,0,0.5);
}
.visualizer aside #list .group>.title{
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.visualizer aside #list .group .item a img{
	border:2px solid transparent;
	border-radius:5px;
}
.visualizer aside #list .group .item a.selected>img{
	box-shadow:0 0 10px 2px #FFF;
	border:2px solid #FFF;
}
.visualizer aside #list .group .item a>img:hover{
	border:2px solid #FFF;
}

/* IMG */

.visualizer .imagecontainer{
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}
.visualizer .imagecontainer #img{
	max-width: 100%;
	max-height: 100%;
}

/* CTRL */
.visualizer .arrow{
	cursor:pointer;
	position: absolute;
	left: 50%;
	transition:all .25s ease-in-out;
}
.visualizer .arrow:hover{
	text-shadow:0 0 3px #FFF;
}
.visualizer .controls{
	position: fixed;
	bottom: 20px;
	right: 20px;
	color:#000;
	border-collapse: collapse;
	box-shadow: 2px 2px 4px #000;
	background-color: #DDD;
}
.visualizer .controls td:hover{
}
.visualizer .controls td{
	width: 24px;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #000;
}
