a{
	cursor:pointer;
}
.justifier p{
	text-align:justify;
}
.header{
	z-index:1030;
}
.footer{
	background: linear-gradient(#EEE, #FFF) repeat scroll 0% 0% transparent;
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid rgba(128, 128, 128, 0.25);
	margin-right: auto;
	margin-left: auto;
}
.header{
	background: url('/img/banner.png') no-repeat fixed 20% 0% #988452;
}
#titlebar{
	color: #ffffff;
	font-family: "Trebuchet MS","Helvetica Neue",Helvetica,sans-serif;
	font-weight: 100;
	text-shadow: 0px 0px 3px #000;
}
#titlebar small{
	font-family: "Segoe UI","Helvetica Neue",Helvetica,sans-serif;
	color: #ffffff;
	text-shadow: none;
}
.btn{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}